x-common-env: &common-env
  environment:
    CONFIG_SERVER_HOST=config-server
    CONFIG_SERVER_USER=configuser
    CONFIG_SERVER_PASS=configpass
    SPRING_EUREKA_HOST=discovery-server
    SPRING_EUREKA_PASSWORD=eurekapass123
    SPRING_EUREKA_PORT=8761
    MARIADB_DATASOURCE_URL=jdbc:postgresql://db_client:3306/db_client
    MARIADB_DATASOURCE_USERNAME=db_client
    MARIADB_DATASOURCE_PASSWORD=apppassword
    SPRING_CONFIG_HOST=localhost
    SPRING_PROFILES_ACTIVE=default


services:
  db_client:
    image: mariadb:12.0.2
    container_name: db_client
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 12345678
      MYSQL_DATABASE: db_client
      MYSQL_USER: db_client
      MYSQL_PASSWORD: apppassword
    ports:
      - "3306:3306"

CONFIG_SERVER_HOST=localhost
CONFIG_SERVER_USER=configuser
CONFIG_SERVER_PASS=configpass
SPRING_EUREKA_HOST=localhost
SPRING_EUREKA_PASSWORD=eurekapass123
SPRING_EUREKA_PORT=8761
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:3306/example
SPRING_DATASOURCE_USERNAME=ejemplo
SPRING_DATASOURCE_PASSWORD=ejemplo
SPRING_CONFIG_HOST=localhost
SPRING_PROFILES_ACTIVE=default
