x-common-env: &common-env
  environment:
    CONFIG_SERVER_HOST=config-server
    CONFIG_SERVER_USER=configuser
    CONFIG_SERVER_PASS=configpass
    SPRING_EUREKA_HOST=discovery-server
    SPRING_EUREKA_PASSWORD=eurekapass123
    SPRING_EUREKA_PORT=8761
    MARIADB_DATASOURCE_URL=jdbc:postgresql://db_client:3306/db_client
    MARIADB_DATASOURCE_USERNAME=db_client
    MARIADB_DATASOURCE_PASSWORD=apppassword
    SPRING_CONFIG_HOST=localhost
    SPRING_PROFILES_ACTIVE=default


services:
  db_client:
    image: mariadb:12.0.2
    container_name: db_client
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 12345678
      MYSQL_DATABASE: db_client
      MYSQL_USER: db_client
      MYSQL_PASSWORD: apppassword
    ports:
      - "3306:3306"

  db_transaction:
    image: postgres:17.0-alpine3.20
    container_name: db_transaction
    restart: always
    environment:
      POSTGRES_DB: db_transaction
      POSTGRES_USER: db_transaction
      POSTGRES_PASSWORD: apppassword
    ports:
      - "5436:5436"
    expose:
      - 5436
    command: -p 5436
  kafka:
    image: apache/kafka:4.1.1
    container_name: kafka-kraft
    environment:
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_NODE_ID: "1"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://localhost:9092"
      KAFKA_LOG_DIRS: "/kafka-logs"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    ports:
      - "9092:9092"

