server:
  port: 8761

spring:
  application:
    name: discovery-server
  security:
    user:
      name: eureka
      password: ${SPRING_EUREKA_PASSWORD}

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false